{% extends "admin/change_list.html" %}

{% block content %}
  <table>
    <tr>
      <td>Open Issues</td>
      <td> {{ stats.open_issues }} </td> 
    </tr>
    <tr>
      <td>Resolved Issues</td>
      <td> {{ stats.resolved_issues }} </td> 
    </tr>
    <tr>
      <td>Fastest resolution</td>
      <td>{{ stats.fastest_resolution }}</td> 
    </tr>
    <tr>
      <td>Longest resolution</td>
      <td>{{ stats.longest_resolution }}</td> 
    </tr>
    <tr>
      <td>Average resolution</td>
      <td>{{ stats.average_resolution }}</td> 
    </tr>
  </table>
  {{ block.super }}
{% endblock %}
